.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  max-width: 30px;
  margin: 0 0 0 18px;
  padding: 0;
  transition: opacity .3s linear;
}

.header__lang-link:active {
  text-decoration: underline;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 568px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
