.page {
  background-color: #2a2c2f;
  color: #fff;
  font-weight: 400;
  min-width: 320px;
  max-width: 1280px;
  padding: 28px 48px 24px 48px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1140px) {
  .page {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 568px) {
  .page {
    padding-top: 16px;
  }
}
