.intro {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .intro {
    max-width: 720px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 790px) {
  .intro {
    margin: auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    padding-left: 16px;
  }
}
